.social-icon{
    color:rgb(3, 206, 128);
    text-decoration: none;
}

.subirBtn{
    color:rgb(3, 206, 128);
    text-decoration: none;
}

.terms{
    color:rgb(3, 206, 128);
    text-decoration: none;
}