.contenedor{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
 


.col-sm-8{
    padding: 10em;
    
}
.col-sm-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.ucaLogo{
    height: 100%;
    width: 100%;
    text-align: center;

}

.contUcaLogo{
    display: flex;
    align-items: center;
  justify-content: center;
  background-color: red;
 
}
.scentLogo{
    height: 100%;
    width: 100%;
}

.ucalogtext{
    text-align: justify;
}

.cardsImg{
    height:15em;
    max-height: 20em;
}
.cardImg{
    height: 450px;
    width: 200px;
    display: 'block';
}

.containerFundadores{
    padding: 2em;
}

.containerMisionVision{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    justify-items: center;
    margin: 20px 0;
    
}

.colImg{ 
    display: grid;
    justify-content: center;
    align-content: center;
    max-width: 20em;
    max-width: 30em;
}
.colT{
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.rowE {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
  .columnE {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .cardFe{
    height: 350px;
    width: 400px;
    background-color: #C3F2CD;
  }

  .colTMision{
    background-color: #88D187;
  }
  .colTVision{
    background-color: #D1A487;
  }