.cardFeGreen{
    background-color: #99C66D;
  }
  .cardFeBrown{
    background-color: #DAC2B0
  }
  .cardFeYellow{
    background-color: #EEBD67;
  }

  .colTMision{
    background-color: #99C66D;
  }
  .colTVision{
    background-color: #EEBD67;
  }