h6{
    text-transform: uppercase;
    color: rgb(46, 44, 44);
    font-family: "Lucida Console", "Courier New", monospace;*/
}

h3{
    text-transform: uppercase;
    color: rgb(46, 44, 44);
    font-family: "Lucida Console", "Courier New", monospace;*/
}